# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*

# Dependencies (si build tool ajouté plus tard)
node_modules/
.npm

# Build output
dist/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
